<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.sendmedelivery.sendmeacab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TripFinaliseActivity"
            android:label="@string/title_activity_trip_finalise"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".TripDetails"
            android:label="@string/title_activity_trip_details"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPassword"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavbarDrawerActivity"
            android:label="@string/title_activity_navbar_drawer"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>